body {
  margin: 0;
  background-color: #141414;
  font-family: 'Montserrat', sans-serif;
}

ul,
ol {
  list-style: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
