.hero {
  padding: 20px 85px;
}

.hero__title {
  color: #f97905;

  font-weight: 900;
  font-size: 30px;
  letter-spacing: 1.5;

  text-transform: uppercase;
  text-align: center;
}

.hero__text {
  color: #f97905;

  font-size: 20px;
  letter-spacing: 1.2;
  line-height: 25px;
  text-indent: 20px;
}
