<section class="hero">
  <h1 class="hero__title">Welcome to the wikipedia of Naruto's world</h1>
  <p class="hero__text">
    This website was created for providing you with finding any information
    about the Naruto universe. Thanks to this wiki, you have access to a search
    for characters, clans and villages. I hope that you find my website useful
    and that it helps you to enjoy Naruto's world.
  </p>
  <p class="hero__text">
    To get started, simply choose the endpoint that you are interested in from
    the list above, and write your request in form below.
  </p>
</section>
