<div
  class="modal fade"
  id="sign-up"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Registration</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="js-test" autocomplete="on">
          <label class="label-sign_up" for="email-sign_up">Email</label>
          <input class="input js-email" type="email" id="email-sign_up" />
          <label class="label-sign_up" for="password-sign_up">Password</label>
          <input class="input js-password" type="text " id="password-sign_up" />
          <button class="button-sign_up">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
