<div
  class="modal fade"
  id="sign-in"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Log in</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="js-log-in" autocomplete="on">
          <label class="label-sign_up" for="email-sign_in">Email</label>
          <input class="input js-email__log" type="email" id="email-sign_in" />
          <label class="label-sign_up" for="password-sign_in">Password</label>
          <input
            class="input js-password__log"
            type="text"
            id="email-sign_in"
          />
          <button class="button-sign_up">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
